ul {
  list-style: none;
  color: white;
  margin-top: 10px;
  font-size: 22px;
}

a {
  color: white;
}

a:hover {
  color: lightblue;
  text-decoration: none;
}

li p {
  font-size: 12px;
  color: rgb(239, 239, 239);
}

.italic-bold {
  font-style: italic;
  font-weight: bolder;
}



.photo-align {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  bottom: -30px;
  left: -150px;
}

.photo-align img {
  width: auto;
  height: 100%;
  margin-left: -23px;
}