ul {
  list-style: none;
  color: white;
  margin-top: 10px;
  font-size: 22px;
  padding-left: 0px;
}

a {
  color: white;
}

li p a {
  color:wheat;
}

a:hover {
  color: lightblue;
  text-decoration: none;
}

li p {
  font-size: 12px;
  color: rgb(239, 239, 239);
}

.italic-bold {
  font-style: italic;
  font-weight: bolder;
}

.photo-align {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  bottom: -30px;
  left: -150px;
}

.photo-align img {
  width: auto;
  height: 100%;
  margin-left: -23px;
}

.light-look {
  background-color: lightblue;
}

.gradient-test {
  background: linear-gradient(90deg, rgba(58,139,180,1) 0%, rgba(29,163,253,0.6881127450980392) 69%);
}

.gradient-test1 {
  background: linear-gradient(270deg, rgba(58,139,180,1) 0%, rgba(29,163,253,0.6881127450980392) 69%);
}

.box1 {
  width: auto;
  border: solid black;
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
}